/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Mar 2, 2016, 1:58:01 PM
    Author     : LANCEWEAVER
*/
html,
body,
#viewDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    overflow:hidden;
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
}


.btn-grid {
    display: block;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 4px;
    margin-inline-end: 4px;
}

.scale-btn {
    color: #ffffff!important;
    background-color: #55555e !important;
    border: 1px solid #9b9491 !important;
    display: inline-block;
    padding: 2px 4px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    color: inherit;
    background-color: inherit;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 5px;
    font-family: 'Open Sans',sans-serif;
    font-size: 12px;
    font-weight: 700;
    -webkit-font-smoothing: antialiased;
}

.scale-btn:hover {
    border: 1px solid #f3f3f3 !important;
    box-shadow: 0 8px 16px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

#scaleBtns .selected {
    border: 1.5px solid #f3f3f3 !important;
}

/* .darkClass {
    background-color: white;
    filter:alpha(opacity=50); 
    opacity: 0.5; 
    -moz-opacity:0.50; 
    z-index: 20;
    height: 100%;
    width: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
} */

.theme-color {
    background-color: #565656; 
   /* background-color: #996633 ; */
}

/* 
#maptype2 {
    margin-bottom:6px;
}
#maptype2 a.tab.selected {
    margin: 2px;
    color: #326A98;
    background: #fff;
}
#maptype2 a.tab {
    padding: 1px 15px;
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    text-decoration: none;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    font-family: 'Bebas Neue Regular';
    font-size: 20px;
    border: 1px solid white;
} */

/* needed for zoom buttons and all a. links in bar  */
.leaflet-left a, .leaflet-right a {
    height: 45px;
    width: 51px;
    display:block;
    z-index: 10;
}

.leaflet-bar a, .leaflet-bar a:hover {
    color: #404040;
    color: rgba(0,0,0,.75);
    border-bottom: 1px solid #ddd;
    border-bottom-color: rgba(0,0,0,.1);
    border-top: 1px solid rgba(255,255,255,.25);
}

.leaflet-left .leaflet-control, .leaflet-right .leaflet-control {
    margin: 0;
    border: none;
}

.leaflet-control-loading {
    display: none;
}

.page-loading {
    z-index: 999;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    color: black;
    padding: 0 40px;
}

.exactcenter { 
    width:200px; 
    height:200px; 
    position: fixed; 
    top: 40%; 
    left: 50%; 
    margin-top: -100px; 
    margin-left: -100px; 
 } 

 /* mobile/phone things narrower than download maps pane */
@media only screen and (max-width:545px){ 
    .exactcenter { left: 40%; }
}

.leaflet-control {
    /* position: relative;
    float: left;
    clear: both;
    z-index: 10; */
}

.leaflet-right {
    top: 0;
    right: 0;
    position: absolute;
}

.leaflet-right a {
    position:absolute;
}

.leaflet-left {
    top: 0;
    left: 0;
    position: absolute;
    width: 51px;
    height: 100%;
    z-index: 3;
}

.identify {
    background-image: url(images/click-icon.png);
    top:0px;
    right:0px;
}

.search {
    background-image: url(images/search.png);
    top:46px;
    right:0px;
}

/*
.search-esri {
    background-image: url(images/locate.png);
    top:45px;
    right:0px;
}
*/
.opacity {
    background-image: url(images/opacity.png);
    top:92px;
    right:0px;
}

.geocoder {
    background-image: url(images/locate.png);
    top:138px;
    right:0px;
}

.layers {
    background-image: url(images/layers-clear.png);
    top:184px;
    right:0px;
}

.configuration {
    background-image: url(images/scale.png);
    top:230px;
    right:0px;
}

.strat {
    background-image: url(images/strat-section-icon.png);
    top:276px;
    right:0px;
}

.survey {
	display: block;
	width: 156px;
	transform: rotate(-90deg);
	background: #ee7200;
	top: 430px;
    right: -86px;
	position:absolute;
	color:#fff;
	text-indent:0;
	text-decoration:none;
	letter-spacing:0;
	padding:10px;
	margin-right: 20px;
	white-space:nowrap;
	font-size:15pt;
	font-weight:bold;
	text-transform:uppercase;
	box-shadow:1px 1px 5px rgba(0,0,0,.5);
	z-index:1;
	/* color:#fff;
	text-indent:0;
    letter-spacing:0;
	padding:11px;
	white-space:nowrap;
	position:absolute;
	font-family:'Bebas Neue Regular';
	font-size:15pt;
	text-transform:uppercase;
	box-shadow:1px 1px 5px rgba(0,0,0,.5);
	z-index:999;
	top: 278px;
    right: 0px;
    border-top-style: solid !important;
    border-top-color: red !important;
    border-left-style: solid;
    border-left-color: red;
    border-bottom-style: solid !important;
    border-bottom-color: red !important; */
}

#identifyPanel  {
    position: absolute;
    top: -3px;
    left: 40%;
    text-align:center;
    z-index: 1;
    vertical-align: middle;
    padding: 4px;
    margin: 6px 6px;
    /* border: 2px solid #fff;  */
    border-radius: 30px;
    /* half radius 30px 0 0 30px  */
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
}

#identifyPanel nav {
    z-index: 1;
}

#identifyPanel a.tab  {
    display: inline-block;
    padding: 3px 25px;
    vertical-align: middle;
    color: #fff;
    text-decoration:none;
    -moz-border-radius: 30px;
    -webkit-border-radius: 30px;
    border-radius: 30px;
    font-family: 'Bebas Neue Regular';
    font-size: 20px;

}

#identifyPanel a.tab.selected {
    margin: 2px;
    color: #326A98;
    background: #fff;
}

#searchPanel {
    position: absolute;
    top: 46px;
    right: 54px;
    z-index: 999;
    width: 230px;
    padding:6px;   /*top, right, bottom, left    */
    margin:0;
    border-radius: 2px;
}

.search-input  {
    font-size: 14px;
    font-family: Corbel Regular;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 1px solid black;
    margin: 0;
    padding: 0;
    padding-left: 7px;
    width: 212px;
    height: 32px;

}

.search-submit {
    font-family: FontAwesome;
    position: absolute;
    z-index: 1;
    right: 36px;
    top: 15px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}

.search-close {
    font-family: FontAwesome;
    z-index: 1;
    position: absolute;
    right: 60px;
    top: 16px;
    color: #7B7B7B;
    cursor:pointer;
    width: 0;
}


#opacityPanel {
    position: absolute;
    top: 94px;
    right: 54px;
    z-index: 999;
    height: 40px;
    width: 220px;
    border-radius: 2px;
}

/* style the esri sliders */

/* .ui-slider .ui-slider-handle {
    border: none;
    border-radius: 50%;
    background: #e19496;
    width: 18px;
    height: 18px;
    top: -6px;
    z-index: 50;
    filter: drop-shadow(0 0 1px #3a3939);
    -ms-touch-action: none;
    cursor:pointer;
} */

.sliderTicks {
    background-color: #908d8d;
}
.esri-slider__label {
    top: 5px !important;
    color: #a5a3a4;
    font-size: 8px;
}

.esri-slider__thumb {
    border: none;
    border-radius: 50%;
    background: #e19496;
    width: 18px;
    height: 18px;
    top: -8px;
    filter: drop-shadow(0 0 1px #3a3939);
}
.esri-slider__thumb:hover {
    border:none;
}
.sliderLabels::after {content: " k";}
.sliderLabels {
    font-size: 8pt;
    top:-14px;
    transform: rotate(-50deg) translate(-40%) !important; 
}

#opSlider {
    background: #fff;
    right: 10px;
    position: absolute;
    top: 15px;
    height: 6px;
    width: 90%;
    border: 1px solid #bbb;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 100;
}

/*  style the display range slider and dialog   */
/* 
.dijitSliderImageHandle {
	border: 8px solid #e19496 !important;
}
.dijitSliderProgressBar {
    background-color: #efefef !important;
}
.ui-slider {
    background: #fff;
    height: 6px !important;
    top:10px;
}
.range-slider {
    margin-left:8px;
    margin-bottom:15px;
    width:300px;
}

.sliderNd label {
    position: absolute;
    width: 20px;
    margin-left: -10px;
    text-align: center;
    margin-top: 20px;
    font-size: 10px;
    white-space: nowrap;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
} 

.ui-slider-tick-mark{
    display:inline-block;
    width:1px;
    background:grey;
    height:7px;
    position:absolute;
    top:6px;
}
*/
.gear-icon {
    /* background-image: url(images/white-cog.png);   */
    background: no-repeat url('images/gear-icon5.png');
    background-size: 18px;
    position: absolute;
    width: 18px;
    height: 20px;
    z-index: 10;
    background-position: center center;
    cursor: pointer;
    text-decoration: none;
}
.gear-icon:hover {
    filter: drop-shadow(0 0 4px #3a3939);
}

/* Layer Scale Range Slider  */
.dialogNd{
    display: none;
    position: absolute;
    top: 330px;
    right: 120px;
    width: 335px;
    height: 140px;
    padding: 4px 16px;
    padding-bottom: 0;
    margin: 4px;
    border: 1px solid grey;
    z-index: 100;
    color: #cac8c8;
}
.dialogTxt {
    font: 16px "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode";
}
/* slider tick labels */
.ui-widget-content {
    color: #cac8c8;
}
.sliderNd {
    margin-top:4px;
    background-color: inherit;
    color: inherit;
    height: 70px;
}

 /*  style the jquery dialogue (if we decide to use it)   */
/*  
.ui-dialog-title{
    display:none;
}
.ui-button .ui-button-text{
    display:none;
}
.ui-dialog-titlebar {
    background:transparent;
    border:none;
}
.ui-state-default .ui-icon {
    background-color: #efefef;
}
.ui-dialog .ui-dialog-titlebar-close {
    right:0;
}
.ui-dialog{
    width: 360px !important;
} */

/* search places */
#geocoderPanel {
    position: absolute;
    top: 136px;
    right: 54px;
    z-index: 999;
    width: 230px;
    padding:6px;   /*top, right, bottom, left    */
    margin:0;
    border-radius: 2px;
}

#geocoder{
    margin:0;  /*top, right, bottom, left    */
}

.esri-search {
    width: 230px !important;
}

.esri-search .esri-container .esri-input {
    height: 20px;
    width: 140px;
}
.esri-search .esri-search-button {
    padding: 6px 6px;
    height: 20px;
    width: 20px;
    border-left:0px;  		/* gets rid of search line seperator  */
}

#layersPanel  {
    position: absolute;
    top: 182px;
    right: 54px;
    width: 225px;
    color: #ccc;
    font-family: 'Bebas Neue Regular';
    /* font-family:  "Avenir LT W01 65 Medium", Arial, Helvetica, sans-serif !important;*/
    font-size: 20px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 4px;
    border-radius: 2px;
    z-index: 1;

}

.layer-panel-title{
    font-family: "Bebas Neue Regular" !important;
    font-size: 24px;
    text-decoration: underline;
    padding-left:8px;
    padding-top:2px;
    margin-top:0px;
    margin-bottom:8px
}

#configPanel  {
    position: absolute;
    top: 227px;
    right: 54px;
    width: 225px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 14px;
    border-radius: 2px;
    z-index: 1;
    color: #ccc;
    font-family: 'Corbel Regular';
}
.smallnote {
    font-size: 80%;
    line-height: 80%;
    padding-bottom: 6px;
}

#configPanel p {
    font-family: "Bebas Neue Regular" !important;
    color: #ccc;
    font-size: 16px;
    margin: 6px 6px;
}

#resultsPanel  {
    position: absolute;
    top: 6px;
    right: 54px;
    width: 340px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 14px;
    border-radius: 2px;
    z-index: 1;
    color: #ccc;
    font-family: 'Corbel Regular';
}

#unitPolyPanel  {
    position: absolute;
    /* top: 520px; */
    bottom: 80px;
    width: 230px;
    right: 54px;
    padding-left: 10px;
    padding-right: 6px;
    padding-top: 6px;
    padding-bottom: 14px;
    border-radius: 2px;
    z-index: 1;
    color: #ccc;
    font-family: 'Corbel Regular';
}

#map-table{
    height: 500px;
}


/*  hide the esri locate popup window always.. since it goes behind the layer buttons */
.esri-popup{
    display: none;
}

.hidden {
    display:none;
}



.zoom-in, .zoom-out {
    content: '';
}

.zoom-in {
    background-image: url(images/zoom-in.png);
}

.zoom-out {
    background-image: url(images/zoom-out.png);
}

.view-center {
    background-image: url(images/zoom-home.png);
}

.tilt {
    background-image: url(images/tilt-view.png);
}

.rotate {
    background-image: url(images/heading.png);
}


.leaflet-bottomleft a {
    position: absolute;
    left: 0;
    height: 45px;
    width: 51px;
    z-index: 99;
    cursor: pointer;
    border-top: 1px solid #666;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
}

.ugslogo {
    bottom: 140px;
    /* left: 4px !important; */
    height: 134px !important;
    /* width: 41px !important; */
    background-image: url(images/ugs-logo-vertical.png);
}

.help {
    bottom: 92px;
    background-image: url(images/help.png);
}

.bookstore {
    bottom: 46px;
    background-image: url(images/bookstore-link.png);
}

.comment {
    bottom: 0px;
    background-image: url(images/comment.png);
}

/* bottom right corner of map */
.ugs-watermark {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 42px;
    width: 128px;
    z-index: 5;
    cursor: pointer;
    background-image: url(images/ugs-logo.png);
    background-repeat: no-repeat;
    opacity: 1;
}


/* 
.map-list {
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    display: block;
    width: 100%;
    height: 30px;
    padding: 0 .5em;
    font-size: 14px;
    line-height: 1.3em;
    background-color: white;
    color: #666666;
    border: none;
} 
*/

.map-layer {
    border-radius: 6px;
    padding: 2px;
    margin: 4px 0;
    background: #808080;
}
.greyedout::before {
    content: "|";
    /* background: rgb(146, 235, 173);
     outline: 1px solid red; */
     color: #ef8067;
}
.setactive::before {
    content: "|";
    color: #82a982;
}
.map-layer:hover {
    background: #8b8b8b;
    filter: drop-shadow(0 0 4px #3a3939);
}
.map-layer input[type="checkbox"] {
     margin-left:0; /*put closer to css line */
}

.esri-search .esri-search__container * {
    z-index: 99 !important;
}

.btn-sample {
  color: #000000;
  background-color: #F7F4F4;
  border-color: #CCCCCC;
}

.btn-sample:hover, .btn-sample:focus, .btn-sample:active, .btn-sample.active, .open .dropdown-toggle.btn-sample {
  color: #000000;
  background-color: #EFEDF2;
  border-color: #CCCCCC;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 10pt;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    /* background: url("https://geology.utah.gov/apps/lance/mapbib/img/search-icon1.png") no-repeat scroll 0 0 transparent;  */
    border: 1px solid transparent;
    border-radius: 4px;
  }

.btn-sample:active, .btn-sample.active, .open .dropdown-toggle.btn-sample {
  background-image: none;
}

.leaflet-mapbib {
    position: absolute;
    top: 60px;
    left: 60px;
    right: auto;
    height: auto;
    width:300px;
    font-size: 12px;
    font-family: 'Corbel Regular';
    color: #ccc;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 35px;  /* top, right, bottom, left   */
    padding-left:35px;
    box-shadow: 0 1px 7px rgba(0,0,0,.65);
    z-index: 5;
}

.leaflet-mapbib-searchresults {
    position: absolute;
    display: block;
    top: 60px;
    left: 360px;
    right: auto;
    height: 500px;
    width:600px;
    font-size: 10px;
    font-family: 'Corbel Regular';
    color: #ccc;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 15px 35px;  /* top, right, bottom, left   */
    padding-left:35px;
    box-shadow: 0 1px 7px rgba(0,0,0,.65);
    z-index: 5;
}

/* #sidebar */

.left-arrow {
    background-repeat: no-repeat;
    background-image: url(images/left-arrow.png);
    width: 30px;
    height: 100px;
    position: absolute;
    left: -1px;
    top: 85px;
    cursor: pointer;
    z-index: 9;
    padding-right:8px;
    opacity: 0.5;
    filter: drop-shadow(0 0 6px rgb(0 0 0 / 99%));
}

.right-arrow {
    background-repeat: no-repeat;
    background-image: url(images/right-arrow.png);
    width: 30px;
    height: 100px;
    position: absolute;
    right: -1px;
    top: 85px;
    cursor: pointer;
    z-index: 9;
    padding-left:8px;
    opacity: 0.7;
    filter: drop-shadow(0 0 6px rgb(0 0 0 / 99%));
}
/* .Text2{
    font-family: 'Corbel Regular';
    font-size: 14pt;
    letter-spacing: 0;
} */



#mapsPane {
    position: absolute;
    bottom: -250px;
    height: 245px;
    left: 51px;
    font-size: 12px;
    font-family: 'Corbel Regular';
    color: #ccc;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* arrows over text */
    /* padding: 15px 8px;   */
    /* space for arrows */
    padding: 15px 35px; 
    padding-bottom:0px;
    box-shadow: 0 1px 7px rgba(0,0,0,.65);
    z-index: 50;
    border-top-right-radius: 10px;
}
/* download pane */
#mapsPane p {
    margin: 0 0 10px 0;
}

/* set size of downloads div here */
.swiper-container {
    /* height makes it scrollable */
    height: 100% !important;
    width:560px;
}
/* without this slide overflow shows on next slide */
.swiper-slide {
    /* overflow-x: hidden;
    overflow-y: scroll; */
}

/* mobile/phone things narrower than download maps pane */
@media only screen and (max-width:545px){ 
    /* change this to work with mobile! */
    #mapsPane {
        left:0;
        width: 350px;
        padding: 15px 8px; 
    }
    .swiper-container {
        width: 350px;
        overflow: hidden; 
    }
    #imageArea, #sideShare, #mapCount {
        display: none !important;
    }
    .left-arrow, .right-arrow,  .countSmall {
        display: none !important;
    }
    /* .gear-icon {
        display:none;
    } */
    .dialogNd {
        top: 390px; 
        /* bottom: 20px; */
        right: 0px;
        max-width: 86%;
    }
}

/*make 3 columns work 
see https://www.w3schools.com/howto/howto_css_four_columns.asp */
.swiper-slide:after {
    display: table;  
    content: "";
    clear: both;
}

/* main download area title */
#mapTitle {
    font-family: 'Bebas Neue Regular';
    font-size: 20pt;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top:4px;
    max-width: 460px;
}

.mapTitle {
    font-family: 'Bebas Neue Regular';
    color: #ccc;
    font-size: 20pt;
    letter-spacing: 0;
    margin-bottom: 0;
    margin-top:4px;
    text-decoration: none;
}
.mapTitle:link {
    text-decoration: none;
}
.mapTitle:visited {
    text-decoration: none;
}
.mapTitle:hover {
    text-decoration: underline;
    color: rgb(252, 244, 244);
}


 /* THE THREE COLUMNS */

/* download pane column with title,scale,ref */
.titleArea {
    width: 220px;
    display: block;
    float:left;
    /*must have for scroll to work */
    height: 100%; 
    overflow-y: scroll;
    overflow-x: hidden;
}

/* download pane column with download links */
.downloadLinks {
    /* position: absolute; */
    /* left: 205px; */
    /* top: 60px; */
    line-height:1.5;
    text-align:left;
    font-size:20px;
    z-index: 5;
    display: block;
    float:left;
    margin-right: 6px;
    width: 120px;
}

.imageArea {
    /* position: absolute;
    top: 54px;
    right: 10px;
    left: 320px; */
    display: block;
    float:left;
    width: 210px;
    overflow: hidden;
}

/* END THREE COLUMNS */

.mapInfo {
    font-family: 'Corbel Regular';
    font-size: 11pt;
    letter-spacing: 0;
    line-height: 15px;
    text-align: justify;
}

.mapScale {
    font-family: Eagle;
    font-size: 68pt;
    letter-spacing: -4px;
    opacity: .3;
    width: 250px;
    padding-top: 20px;
    padding-bottom: 8px;
    line-height: 30pt;
}
.mapRef {
    font-family: 'Corbel Regular';
    font-size: 9pt;
    letter-spacing: 0;
    line-height: 12px;
    width: 95%;
    cursor: pointer;
    padding-bottom: 15px;
}
.smallscroll::-webkit-scrollbar {
    display: block;
    width: 0px;
}
/* Scrollbar Track */
.smallscroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightgrey; 
    border-radius: 2px;
}
/* Scrollbar Handle */
.smallscroll::-webkit-scrollbar-thumb {
    background: darkgrey; 
    border-radius: 2px;
}

/* get rid of esri's ugly black 
outline on things with focus */
:focus {
    outline:none;
  }

.logo {
    /* position: absolute;
    background-position: center center;
    background-repeat: no-repeat;
    bottom: 2px;
    width: 122px;
    height: 46px;
    background-color: transparent;
    background-image: url(images/ugs-logo.png); */
    cursor: pointer;
    z-index: 8;
}

.fill-gray-dark {
    background: #5d5d5d;
}

.downloadList {
    font-family: 'Bebas Neue Regular';
    font-size: 17pt;
    color: #ccc;
    cursor: pointer;
}

.pdfIcon {
    background-repeat: no-repeat;
    background-image: url(images/geoPdf.png);
    background-position: left center;
    padding-left: 39px;
/*
    width: 35px;
    height: 35px;
*/
}

.gisIcon {
    background-repeat: no-repeat;
    background-image: url(images/geKmz.png);
    background-position: left center;
    padding-left: 39px;
}

.tiffIcon {
    background-repeat: no-repeat;
    background-image: url(images/jpg.png);
    background-position: left center;
    padding-left: 39px;

}

.purIcon {
    background-repeat: no-repeat;
    background-image: url(images/shop-cart.png);
    background-position: left center;
    padding-left: 39px;
}

.xsecIcon {
    background-repeat: no-repeat;
    background-image: url(images/xsect-icon.png);
    background-position: left center;
    padding-left: 39px;
}

#byteList {
    font-family: 'Corbel Regular';
    line-height: 12px;
}

.bytes {
    font-size: 12pt;
    letter-spacing: -1px;
    padding: 0px;
    margin:4px 0px !important;
}


.mapthumb  {
    background-position: right;
    background-repeat: no-repeat;
    height: 165px;
    background-color: transparent;
    cursor: pointer;
    z-index: 4;
    width: auto;
}

.browseThumb {
    position: absolute;
    background-position: right;
    background-repeat: no-repeat;
    right: 25px;
    top: 54px;
    display: inline-block;
    height: 165px;
    background-color: transparent;
    cursor: pointer;
    z-index: 8;
}

#sideShare {
    position: absolute;
    right: 150px;
    top: -6px;
}

.stratIcon {
    background-repeat: no-repeat;
    background-image: url(images/strat-section-icon2.png);
    position: absolute;
    left: 30px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9;

}

.pinIt {
    background-repeat: no-repeat;
    background-image: url(images/pinIt.png);
    position: absolute;
    left: 0px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9;

}

.inView {
    background-repeat: no-repeat;
    background-image: url(images/inView.png);
    position: absolute;
    left: 30px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9;

}

.mapsHere {
    background-repeat: no-repeat;
    background-image: url(images/mapsHere.png);
    position: absolute;
    left: 60px;
    top: 0px;
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 9;

}

.linkTo {
    background-repeat: no-repeat;
    background-image: url(images/linkTo2.png);
    position: absolute;
    left: 65px;
    top: 5px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9;
}

.panTo {
    background-repeat: no-repeat;
    background-image: url(images/panTo.png);
    position: absolute;
    left: 90px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9;
}

.zoomTo {
    background-repeat: no-repeat;
    background-image: url(images/zoomTo.png);
    position: absolute;
    left: 120px;
    top: 0px;
    width: 30px;
    height: 30px;
    background-color: transparent;
    cursor: pointer;
    z-index: 9;
}


.close {
    position: absolute;
    right: 3px;
    top: 1px;
    width: 25px;
    height: 25px;
    background-image: url(images/close.png);
    cursor: pointer;
    z-index: 10;
}
.dl-close {
    position: absolute;
    right: 0px;
    top: 10px;
    width: 25px;
    height: 25px;
    background-image: url(images/close.png);
    cursor: pointer;
    z-index: 10;
}
.esri-icon-down-arrow, .esri-icon-up-arrow {
    position: absolute;
    top: 4px;
    right: 12px;
    font-weight: 500 !important;
    color: white !important;
    font-size: 20px !important;
    cursor: pointer;
    z-index: 10;
}

#mapCount {
    position: absolute;
    top: 33px;
    right: -30px;
    height: 58px;
    width: 58px;
    font-family: "Bebas Neue Regular";
    font-size: 30px;
    letter-spacing: -2px;
    text-align: center;
    padding-top: 22px;
    text-indent: -1px;
    z-index: 8;
    cursor: pointer;
}

.dot {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -khtml-border-radius: 50%;
}

/*   style for the word "maps"  */
.countSmall {
    position: absolute;
    top: 80px;
    right: -20px;
    font-family: "Corbel Regular";
    font-size: 11pt;
    letter-spacing: -1px;
    z-index: 9;
}

hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 1px solid rgba(255,255,255,.3);
}

p:last-child {
    margin-bottom: 0;
}

.leaflet-container a {
    color: #3887BE;
    font-weight: 400;
    text-decoration: none;
}

.leaflet-container h1, .leaflet-container h2,
.leaflet-container h3, .leaflet-container h4,
.leaflet-container h5, .leaflet-container h6,
.leaflet-container p {
    font-size: 15px;
    line-height: 20px;
    margin: 0 0 10px;
}


#unitsPane {
    font-family: "Avenir Next W00","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 13px;
    color:#3f3f3f;
    position: absolute;
    bottom: 0px;
    right: -5px;
    max-height:75%;
    width: 300px;
    z-index: 99;
    border-radius: 6px;
    padding: 8px;
    margin: 5px;
    overflow-y: auto;
    opacity: 0.85;
    background-color: white;
}

.unit-desc-title {
    font-size: 15px;
    font-weight: 600;
}
.unit-age {
    font-size: 12px;
    line-height: 15px;
    font-weight: 600;
    color: #0079c1;
}
.unit-desc-text {
    font-size: 13px;
    line-height: 15px;
}
.unit-desc-ref {
    font-size: 10px; 
    margin-top: 8px
}
.map-ref {
    font-size: 10px;
    line-height: 12px;
}

/* basemap layer controls */
.baseswitch {
    position: absolute;
    left: 50px;
    top: 10px;
    z-index: 99;
}

.terrain {
    background-repeat: no-repeat;
    background-image: url(images/terBase.png);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 55px;
    z-index: 999;
}

.hybrid {
    background-repeat: no-repeat;
    background-image: url(images/satBase.png);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 95px;
}

.ustopo {
    background-repeat: no-repeat;
    background-image: url(images/strBase.png);
    position: absolute;
    width: 35px;
    height: 35px;
    left: 135px;
}
/* highlight the active basemap icon */
.activebase {
    background-color: #6396fc !important;
}

.mouse-info {
    display: inline-block;
    position: absolute;
    bottom:20px;
    left:50%;
    text-align: center;
    font-family: 'Open Sans SemiBold';
    font-size: 9pt;
    color: #fff;
    text-shadow: 0 0 2px #000,0 0 2px #000,0 0 2px #000;
    filter: glow(color=black,strength=1);
}

.scale {
    margin: 0 auto;
    position: relative;
    z-index: 7;
}

.mouseposition {
    margin: 0 auto;
    position: relative;
    z-index: 7;
}

.mapundercusor{
    margin: 0 auto;
    position: relative;
    z-index: 7;
    font-size: 10px;
}

.dijitButtonNode {
    border: 0 !important;
    display:none;
}

#xsection-pane {
    /* keep 'loading' gif in front */
    z-index: 500;
    background-color: rgb(250, 249, 246);
    outline: 2px solid #5d5b5b;
    width: 90%;
    height: 700px;
    overflow:visible;
    position: absolute;
    top: 80px;
    bottom: auto;
    left: 100px;
    right: auto;
    margin: auto;
    padding: 10px;
    overflow-x: scroll;
    /* border-radius: 6px; */
}
.xsection-img {
    /* max-width: 100%;
    object-fit: contain; */
    overflow-y:hidden;
    overflow-x: scroll;
    height: 680px;
}

#nav-guide {
    /* keep 'loading' gif in front */
    z-index: 500;
    background-color: white;
    outline: 2px solid #5d5b5b;
    width: 400px;
    height: auto;
    overflow:visible;
    position: absolute;
    top: 80px;
    bottom: auto;
    left: 100px;
    right: auto;
    margin: auto;
    padding: 10px;
    /* border-radius: 6px; */
}

.nav-unhide{
    margin:0;
    padding:6px;
    font-family: 'Open Sans bold';
    font-size: 10pt;
    color: #666666;
    text-align: center;
    outline: 1px solid grey;
    cursor: pointer;
    box-shadow: 2px 2px 4px #888888;
}
.nav-unhide:hover{
    /* filter: drop-shadow(0 0 4px #3a3939); */
    box-shadow: 0px 0px 10px #424141; 
}
.nav-notes{
    margin:0;
    padding:20px;
    font-family: 'Corbel Regular';
    font-size: 10pt;
    color: #918f8f;
}

.helplink:hover {
    text-decoration: underline;
    color: rgb(236, 18, 18);
    font-weight: 800;
}

.helplink {
    text-decoration: underline;
    color: rgb(190, 137, 137);
    cursor:pointer;
    font-weight: 600;
}

#mapHelp {
    cursor:move;
    width: 620px;
    height: 680px;
    overflow-y:auto;
    position: absolute;
    top: 80px;
    bottom: auto;
    left: 100px;
    right: auto;
    margin: auto;
    z-index: 999;
    padding: 5px 10px;
    /* border-radius: 6px; */
    line-height: 100%;
}

.mapHelp-title {
    color: #ccc;
    font-family: 'Bebas Neue Regular';
    font-size: 24px;

    padding-left:8px;
    margin-top:20px;
}

#mapHelp p {
    font-family: 'Corbel Regular';
    color: #ccc;
    font-size: 14px;
    margin-left: 10px;
    margin-right: 10px;
}


/* all the mini icons on the help/quick guide pane */
.helpicon:before {
    display: inline-block;
    background: url(images/helpIcons3.png) top left no-repeat;
    width: 20px;
    height: 20px;
    content: " ";
    vertical-align: middle;
}
.zoominhelp:before {
    /* background-position: 0 -260px; */
    background-position: 0 -260px;
}
.zoomouthelp:before {
    background-position: 0 -280px;
}
.homehelp:before {
    background-position: 0 -160px;
}
.tilthelp:before {
    background-position: 0 -420px;
}
.rotatehelp:before {
    background-position: 0 -400px;
}
.extenthelp:before {
    background-position: 0 -320px;
}
.sharehelp:before {
    background-position: 0 -200px;
}
.geolocatehelp:before {
    background-position: 0 -60px;
}
.commenthelp:before {
    background-position: 0 -40px;
}
.locatehelp:before {
    background-position: 0 -120px;
}
.opacityhelp:before {
    background-position: 0 -140px;
}
.filterhelp:before {
    background-position: 0 -380px;
}
.searchhelp:before {
    background-position: 0 -180px;
}
.basehelp:before {
    background-position: 0 -340px;
}
.shophelp:before {
    background-position: 0 -240px;
}
.clickhelp:before {
    background-position: 0 -360px;
} */

.esri-navigation-toggle {
    visibility: hidden;
}




/* for divices between 768 & 1024px (ie. TABLETS) */
@media only screen and (min-device-width :764px) and (max-device-width :1024px)
{
    .hide-tablet
    {
        display: none;
    }
    .show-tablet
    {
        display: block;
    }

}

/* for short divices shorten the map help and give it a scroll bar */
@media only screen and (max-height:800px){
    #mapHelp{
        height:80% !important;

    }
}

/* for screens smaller than 680px - most phones, including sideways view*/
@media only screen and (max-width:680px){
    .hide-mobile    {
        display: none;
    }
    .show-mobile    {
        display: block;
    }
    .view-center:hover:after,.view-center:hover:before,.zoom-in:hover:after,.zoom-in:hover:before,.zoom-out:hover:after,.zoom-out:hover:before   {
        display: none;
    }
    /*  hide the esri locate popup window  */
    .esri-popup{ display: none;}

    .mouse-info {
        left: 20px;
        text-align: left;
        transform: none;
    }
    .scalebar, .esri-scale-bar{
        margin-left: 50px !important;
    }

}



/* for screens smaller than 780px - most tablets and phones*/
@media only screen and (max-width:769px){      
    .scalebar, .esri-scale-bar{
        margin-left: 4px !important;
        margin-bottom: 30px !important;
    }
    /* 
    .esri-compass {
        position: absolute;
        top: 145px;
        z-index: 100;
    }
    .esri-locate {
        position: absolute;
        top:185px;
        z-index: 100;
    }
    */
}


/* TOOLTIPS AND HOVER EFFECTS
  Don't show on mobile, since they don't work well
  min-width= 'do these rules only if screen is WIDER than 770px '       */
 /* desktop */
@media only screen and (min-width:770px){

    /* some notes 
    tooltip:after = is the box
    tooltip:before = is the arrow/triangle
    Note that to put triangle above or below, 
    you add transform:rotate(90deg);
    z-index might be controlled by the parent element?
    */

    /* common tooltip elements */
    .tooltip:hover:after{
         background:#6396fc;
         color:#fff;
         text-indent:0;
         letter-spacing:0;
         content:attr(data-title);
         padding:11px;
         white-space:nowrap;
         position:absolute;
         font-family:'Bebas Neue Regular';
         font-size:15pt;
         text-transform:uppercase;
         box-shadow:1px 1px 5px rgba(0,0,0,.5);
         z-index:999;
     }

     .tooltip:hover:before{
         width:0;
         height:0;
         border-top:8px solid transparent;
         border-bottom:8px solid transparent;
         content:"";
         margin-top:14px;
         position:absolute;
         z-index:999;
     }
	 
     /* left bar tooltips- tip to right of element */
     .right:hover:after{
         left:100%;
     }
     .right:hover:before{
         left:85%;
         border-right:8px solid #6396fc;
     }

     /* right bar tooltips- tip to left of element */
     .left:hover:after{
         right:100%;
         top:0;
     }
     .left:hover:before{
         margin-top:14px;
         right:85%;
         border-left:8px solid #6396fc;
     }

    /* right bar bottom tooltips- tip to left of element */
     .floor:hover:after{
        bottom:0;
        left:100%;
    }
    .floor:hover:before{
        bottom:14px;
        border-right:8px solid #6396fc;
        left:85%;
    }

    /* copy reference tooltip */
    .ref-right:hover:after{
        bottom:0;
        left:40%;
    }
    .ref-right:hover:before{
        bottom:12px;
        border-right:8px solid #6396fc;
        left:39%;
    }

    /* map download buttons */
    .inline:hover:after{
        left:100%;
    }
    .inline:hover:before{
        left:92%;
        border-right:10px solid #6396fc;
    }


    /* zoomto and panto buttons */
    .bottom-right:hover:after{
         right:0;
         top:110%;
     }
    .bottom-right:hover:before{
         border-right:8px solid #6396FC;
         bottom:-8px;
         left:40%;
         transform:rotate(90deg);
         -webkit-transform:rotate(90deg);
     }

     /* buttons to switch basemap- below going right*/
    .bottom:hover:after{
        left:0;top:110%;
        z-index: 999;
    }
    .bottom:hover:before{
        border-right:8px solid #6396FC;
        bottom:-8px;left:40%;
        transform:rotate(90deg);
        -webkit-transform:rotate(90deg);
        z-index: 9999;
    }

     /* map download pane map thumb image */
     .img-top:hover:after{
        right:50px;
        top:-34%;
        z-index: 999;
    }
    .img-top:hover:before{
        border-right:8px solid #6396FC;
        top:-30px;
        left:40%;
        transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        z-index: 999;
    }

    /* map layers pane */
    .mp-lyrs:hover:after{
        right:50px;
        top:-27%;
        z-index: 999;
    }
    .mp-lyrs:hover:before{
        border-right:8px solid #6396FC;
        top:-30px;
        left:40%;
        transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        z-index: 999;
    }

    /* download buttons (pdf,tiff, geotiff, purchase */
    .ptop-right:hover:after{
        right:-90px;
        top: 52px;
        z-index: 999;
    }
    .ptop-right:hover:before{
        border-right:8px solid #6396FC;
        top:90px;
        right: 0px;
        transform:rotate(-90deg);
        -webkit-transform:rotate(-90deg);
        z-index: 9999;
    }

    /* some notes 
    tooltip:after = is the box
    tooltip:before = is the arrow/triangle
    Note that to put triangle above or below, 
    you add transform:rotate(90deg);
    z-index might be controlled by the parent element?
    */




     /*  we use this with jquery.toggleclass to hid tooltips when panels are open   */
     /* .geocoder-expanded:hover:after,.geocoder-expanded:hover:before,.opExpanded:hover:after,.opExpanded:hover:before,.searchExpanded:hover:after,.searchExpanded:hover:before,.control-layers-expanded:hover:after,.control-layers-expanded:hover:before,.identifyExpanded:hover:after,.identifyExpanded:hover:before  */
     .rightbarExpanded:hover:after, .rightbarExpanded:hover:before{
         display: none;
     }


    /* these are one's I'v added to the 3d   */
    .esri-zoom {
        visibility: hidden;
    }
    /* keep the left sidebar from covering */
    .esri-compass {
        position: absolute;
        top: 40px;
        z-index: 100;
        left: 46px;
    }
    .esri-locate {
        position: absolute;
        top:-3px;
        z-index: 100;
        left: 46px;
    }

    /* keeps my tooltip above compass   */
    .esri-ui-top-left {
        z-index: 1;
    }

    /* the layer settings buttons */
    span.dijitReset.dijitInline.dijitArrowButtonInner{
        background-image:url('images/gear-icon5.png') !important;
        background-size: 14px;
        width:20px;height:20px;
    }

    /* the container for the layer settings buttons */
    span.dijitDownArrowButton{
        background-color: inherit;
        border:1px solid #996633;
    }

      /* hover effect for settings */
    span.dijitDownArrowButton:hover {
        border:1px solid grey;
    }

    .dijitButtonNode {
        display:block;
        border: 0px !important;
    }


    /* layer visibility sliders   */

    .dijitSliderImageHandleH{
        border: none;
        width: 18px;
        height: 18px;
     /* background: url(images/preciseSliderThumb.png) no-repeat center top;  */
        border-radius: 50%;
        background: #e19496;
    }

    .dijitSliderProgressBar {
        background-color: #e0c0c1;
    }

    .dijitSliderBarH {
        height: 6px;
    }

    .dijitSliderBar {
        border: 1px solid #bbb;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        cursor: pointer;
    }

    .dijitSliderBumper {
        visibility:hidden;
    }

    .nihilo .dijitToolbar{
        border-bottom-style:solid;
        border-bottom-width:1px;
        border-bottom-color:#3F3F3F;
    }

    .dijitRuleLabelH {
        position: relative;
        left: -50%;
        font-size: 10px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
    }

                /* dynamic selectors are awsome. */
    div[id^=popup_] .dijitTooltipContainer {
        border: 1px solid #d3d3d3 !important;
        background: rgba(255,255,255,0.9) !important;
        font-size: 16px !important;
        color: black !important;
        font-family: "Trebuchet MS" !important;
    }

    /* make the leader arrow on the scale box go to right instead of left   */
    .dijitTooltipConnector {
        position: absolute;
        top: 3px;
        right: 12px;
        background: url(https://serverapi.arcgisonline.com/jsapi/arcgis/3.2/js/dojo/dijit/themes/Nihilo/images/tooltipConnectorUp.png) no-repeat top left;
        width: 17px;
        height: 11px;
    }



} /*  end @media for mobile */
